# data/
# results/


# --- LATEX specific ignores below ---

# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Jabref backup files
*.bib.sav

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache

# Build tool directories for auxiliary files
latex.out/

# Beamer
*.nav
*.pre
*.snm
*.vrb


# --- VS-Code specific ignores below ---

*.code-workspace


# --- R specific ignores below ---

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron
